@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;700&display=swap");
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  padding: 0 15px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%); }
  .heading h1 {
    display: block;
    padding: 10px 20px;
    font-size: 72px;
    font-family: 'Lilita One';
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    font-weight: normal;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
    .heading h1 sup {
      font-size: 36px; }
  .heading p {
    display: block;
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
    .heading p a {
      color: #FFF;
      text-decoration: underline; }
  .heading .btn-buy {
    z-index: 2;
    margin-top: 40px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #9B513B, #FD8E28, #FD8E28, #FDBF28); }
    .heading .btn-buy:hover {
      color: #000;
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
      .heading .btn-buy:hover:after {
        opacity: 1; }
  @media screen and (max-width: 576px) {
    .heading h1 {
      display: block;
      padding: 6px 12px;
      font-size: 48px; }
      .heading h1 sup {
        font-size: 18px; } }

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 15px;
  background: rgba(45, 40, 36, 0.8); }
  .nav .name {
    display: flex;
    align-items: center;
    width: 100px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; }
    .nav .name .logo {
      display: block;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background: url("../img/token.png") no-repeat center;
      background-size: 24px; }
  .nav .socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 100px); }
    .nav .socials .btn-buy {
      z-index: 2;
      margin-left: 10px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 24px;
      color: #FFF;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background-size: 300% 100%;
      background-image: linear-gradient(to right, #9B513B, #FD8E28, #FD8E28, #FDBF28); }
      .nav .socials .btn-buy:hover {
        color: #000;
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
        .nav .socials .btn-buy:hover:after {
          opacity: 1; }
    .nav .socials .icon {
      margin-left: 10px;
      width: 20px;
      height: 20px; }
      .nav .socials .icon:hover {
        transform: scale(1.1);
        transition: 0.3s all ease-in-out; }
      .nav .socials .icon.icon-twitter {
        background: url("../img/icon-twitter.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-telegram {
        background: url("../img/icon-telegram.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-discord {
        background: url("../img/icon-discord.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-dextools {
        background: url("../img/icon-dextools.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-etherscan {
        background: url("../img/icon-etherscan.svg");
        background-size: 20px; }

.twitter {
  display: flex;
  width: calc(100% - 30px);
  padding: 60px 15px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px); }
  .twitter img {
    max-width: 930px;
    width: 100%;
    margin: 0 auto; }

.tokenomics {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  padding: 60px 15px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8); }
  .tokenomics h2 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-family: 'Lilita One';
    color: #FD8E28;
    font-weight: normal; }
  .tokenomics ul {
    margin: 0;
    list-style-type: none; }
    .tokenomics ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
      .tokenomics ul li .icon-token {
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 4px 0 10px;
        background: url("../img/token.png") no-repeat center;
        background-size: 18px; }

.funding {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  padding: 60px 15px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(6px); }
  .funding h3 {
    margin: 0 0 20px 0;
    width: 100%;
    display: block;
    font-size: 48px;
    font-family: 'Lilita One';
    color: #FFF;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .funding h4 {
    margin: 0;
    width: 100%;
    display: block;
    font-size: 24px;
    font-family: 'Lilita One';
    color: #FFF;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
    .funding h4 .hidden-address {
      display: none; }
  .funding .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    .funding .copy .address {
      font-size: 64px;
      color: #FD8E28;
      font-size: 64px;
      font-family: 'Lilita One';
      font-weight: normal;
      cursor: pointer; }
    .funding .copy .btn {
      display: block;
      margin-left: 10px;
      width: 48px;
      height: 48px;
      background: url("../img/icon-copy.svg") no-repeat center;
      background-size: 48px;
      border-radius: 4px;
      border: none; }
  .funding p {
    margin: 0 auto;
    width: 100%;
    max-width: 930px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .funding ul {
    margin: 0;
    padding-bottom: 20px;
    list-style-type: none; }
    .funding ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 576px) {
    .funding .copy .address {
      font-size: 36px;
      font-size: 36px; }
    .funding .copy .btn {
      width: 36px;
      height: 36px;
      background: url("../img/icon-copy.svg") no-repeat center;
      background-size: 36px; } }

.rocket {
  position: fixed;
  z-index: 10;
  display: block;
  left: -40px;
  bottom: -60px;
  width: 104px;
  height: 121px;
  background: url("../img/rocket.png") no-repeat;
  background-size: 104px 121px;
  animation-name: rocket;
  animation-duration: 8s;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in; }

@keyframes rocket {
  from {
    left: -40px;
    bottom: -60px; }
  to {
    left: 100%;
    bottom: 100%; } }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Lilita One', Arial, Verdana;
  color: #FFF;
  background: url("../img/bg.jpeg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden; }

button, a {
  outline: none;
  cursor: pointer; }

ul, p {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFF; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFF; }

/*# sourceMappingURL=style.css.map */