@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;700&display=swap");
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  padding: 0 15px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%); }
  .heading h1 {
    display: block;
    padding: 10px 20px;
    font-size: 72px;
    font-family: 'Lilita One';
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px; }
    .heading h1 sup {
      font-size: 36px; }
  .heading p {
    display: block;
    font-size: 14px;
    text-align: center; }
    .heading p a {
      color: #FFF;
      text-decoration: underline; }
  @media screen and (max-width: 576px) {
    .heading h1 {
      display: block;
      padding: 6px 12px;
      font-size: 48px; }
      .heading h1 sup {
        font-size: 18px; } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 15px;
  background: rgba(45, 40, 36, 0.8); }
  .nav .name {
    display: flex;
    align-items: center;
    width: 100px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; }
    .nav .name .logo {
      display: block;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background: url("../img/token.png") no-repeat center;
      background-size: 24px; }
  .nav .socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 100px); }
    .nav .socials .icon {
      margin-left: 10px;
      width: 20px;
      height: 20px; }
      .nav .socials .icon:hover {
        transform: scale(1.1);
        transition: 0.3s all ease-in-out; }
      .nav .socials .icon.icon-twitter {
        background: url("../img/icon-twitter.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-telegram {
        background: url("../img/icon-telegram.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-discord {
        background: url("../img/icon-discord.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-dextools {
        background: url("../img/icon-dextools.svg");
        background-size: 20px; }
      .nav .socials .icon.icon-etherscan {
        background: url("../img/icon-etherscan.svg");
        background-size: 20px; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Lilita One', Arial, Verdana;
  color: #FFF;
  background: url("../img/bg.jpeg") no-repeat center top;
  background-size: cover; }

button, a {
  outline: none;
  cursor: pointer; }

ul, p {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #4E5255; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B6BEBD; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CCD2D2; }

/*# sourceMappingURL=style.css.map */