.funding {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 60px 15px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(6px);

    h3 {
        margin: 0 0 20px 0;
        width: 100%;
        display: block;
        font-size: 48px;
        font-family: 'Lilita One';
        color: #FFF;
        font-weight: normal;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    }

    p {
        margin: 0 auto;
        width: 100%;
        max-width: 930px;
        font-size: 14px;
        text-align: center;
        padding-bottom: 40px;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    }
}