.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: calc(100% - 30px);
    height: 40px;
    padding: 0 15px;
    background: rgba(45, 40, 36, 0.8);

    .name {
        display: flex;
        align-items: center;
        width: 100px;
        font-family: 'Lilita One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        .logo {
            display: block;
            margin-right: 10px;
            width: 24px;
            height: 24px;
            background: url('../img/token.png') no-repeat center;
            background-size: 24px;
        }
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(100% - 100px);

        .btn-buy {
            z-index: 2;
            margin-left: 10px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 24px;
            color: #FFF;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-size: 300% 100%;
            background-image: linear-gradient(to right, #9B513B, #FD8E28, #FD8E28, #FDBF28);
    
            &:hover {
                color: #000;
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    
                &:after {
                    opacity: 1;
                }
            }
        }

        .icon {
            margin-left: 10px;
            width: 20px;
            height: 20px;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s all ease-in-out;
            }

            &.icon-twitter {
                background: url('../img/icon-twitter.svg');
                background-size: 20px;
            }

            &.icon-telegram {
                background: url('../img/icon-telegram.svg');
                background-size: 20px;
            }

            &.icon-discord {
                background: url('../img/icon-discord.svg');
                background-size: 20px;
            }

            &.icon-dextools {
                background: url('../img/icon-dextools.svg');
                background-size: 20px;
            }

            &.icon-etherscan {
                background: url('../img/icon-etherscan.svg');
                background-size: 20px;
            }
        }
    }
}