@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;700&display=swap');
@import 'variables.scss';
@import 'heading.scss';
@import 'nav.scss';
@import 'twitter.scss';
@import 'tokenomics.scss';
@import 'funding.scss';
@import 'rocket.scss';

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', 'Lilita One', Arial, Verdana;
    color: $white100;
    background: url('../img/bg.jpeg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

button, a {
    outline: none;
    cursor: pointer;
}

ul, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrap {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.8); 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFF; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}
