.twitter {
    display: flex;
    width: calc(100% - 30px);
    padding: 60px 15px;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);

    img {
        max-width: 930px;
        width: 100%;
    }
}